include README.rst
include CHANGES.rst
include LICENSE
include tox.ini

graft src
prune src/jt/jvm/c/build
exclude src/jt/jvm/java/class2py.py
exclude src/jt/jvm/java/com/jt/util/classlist_update.py
recursive-exclude src/jt/jvm/java *.java

graft docs
prune docs/_build

graft tests

global-exclude .build .build.*
global-exclude *.py[co] __pycache__
